@charset "ISO-8859-1";



.navbar{
	position:relative;
	display:flex;
	align-items:center;
	padding:20px;
	
}
nav{
	
	flex:1;
	text-align:right;
	position:relative;
	
}
nav ul{
	display:inline-block;
	list-style-type:none;
	position:relative;
}
nav ul li{
	display:inline-block;
	margin-right:20px;
	position:relative;
}

.container{
	max-width:1300px;
	margin:auto;
	padding-left:25px;
	padding-right:25px;
	position:relative;
	
}
.row{
	display:flex;
	align-items:center;
	flex-wrap:wrap;
	justify-content:space-around;
	position:relative;
}
.col-2{
	flex-basis:50%;
	min-width:300px;
	position:relative;
}
.col-2 img{
	width:500px;
	height:300;
	padding:50px0;
	position:relative;
}

.Info{
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  left:80px;
}

.text {
  font-size: 20px;
  padding-left: 20px;
  top:60px;
  font-weight:bold;
  
}

.txt{
	color:grey;
	font-weight:bold;
}
#logButton{
	width:100%;
	height:40px;
	border-radius:40px;
	background:black;
	border:none;
	outline:none;
	cursor:pointer;
	font-size:1em;
	font-weight:600;
	color:white;
	
} 



.button:active {
    background-color:black;
}



#log{
	
	position: absolute;
    
    background-color:#fff;
    color:black;
    border: 2px solid black;
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 50px;
    font-weight:bold;
}
#log:active{
	
	background:black;
	
}
#log1{
	
	position: absolute;
    left:863px;
    background-color:#fff;
    color:black;
    border: 2px solid black;
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 50px;
    font-weight:bold;
	
}
#log1:active{
	
	background:black;
	
}

#log2{
	
	position: absolute;
    left:923px;
    background-color:#fff;
    color:black;
    border: 2px solid black;
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 50px;
    font-weight:bold;
	
}

#log2:active{
	
	background:black;
	
}

#log3{
	
	position: absolute;
    left:983px;
    background-color:#fff;
    color:black;
    border: 2px solid black;
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 50px;
    font-weight:bold;
	
}

#log3:active{
	
	background:black;
	
}

#log4{
	
    position: absolute;
    left:1043px;
    background-color:#fff;
    color:black;
    border: 2px solid black;
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 50px;
    font-weight:bold;;
	
}

#log4:active{
	
	background:black;
	
}

.space{
	
	color:white;
	
}	
.wrapper{
  height: 50px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.wrapper span{
    text-align: center;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}
.wrapper span.num{
  font-size: 25px;
  border-right: 2px solid rgba(0,0,0,0.2);
  border-left: 2px solid rgba(0,0,0,0.2);
  pointer-events: none;
}
.space2{
	
	color:white;
	
}
 